* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background: black;
  color: white;
}

h1 {
  text-align: center;
  margin: 20px 0;
}

.container {
  margin: 0 auto;
  width: 80%;
}

p {
  margin: 20px 0;
}

ul {
  list-style-type: none;
}

ol {
  margin: 20px 0;
}

li {
  margin: 10px 15px;
}

#lista {
  background-color: red;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 20px;
}

#lista li {
  border: 3px solid black;
  margin: 0 auto;
  padding: 20px;
}

/* Custom Theme for highlight.js */

.hljs {
  display: block;
  padding: 0.5em;
  background: #f5f5f5;
  color: #333;
}
.hljs-comment,
.hljs-quote {
  color: #777;
  font-style: italic;
}
.hljs-keyword,
.hljs-selector-tag,
.hljs-literal,
.hljs-name {
  color: #007acc;
}
.hljs-attribute,
.hljs-meta {
  color: #f08d49;
}
.hljs-number,
.hljs-regexp,
.hljs-link {
  color: #d36363;
}
.hljs-string,
.hljs-symbol,
.hljs-bullet,
.hljs-subst {
  color: #50a14f;
}
.hljs-title,
.hljs-section {
  color: #4078f2;
}
.hljs-emphasis {
  font-style: italic;
}
.hljs-strong {
  font-weight: bold;
}
